.smallStatsView {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  width: 175px;
  margin-bottom: 15px;
  margin-right: 15px;
  height: 175px;
  box-shadow: 2px 2px 8px 0px rgba(199, 199, 199, 0.25);
  flex-grow: unset;

}

.smallStatsTitle {
  font-size: 24px;
  height: 26px;
  font-family: 'Roboto' sans-serif;
  font-weight: 100;
  margin: auto;
  text-align: center;
  color: #9b9b9b;
}

.smallStatsContent {
  display: flex;
  overflow: auto;
  align-items: center;
  height: calc(100% -25px);
}