.statsWideView {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  width: 380px;
  margin-bottom: 15px;
  margin-right: 15px;
  height: 175px;
  box-shadow: 2px 2px 8px 0px rgba(199, 199, 199, 0.25);
  grid-column: span 2;
}

.statsWideTitle {
  font-size: 24px;
  height: 26px;
  font-family: 'Roboto' sans-serif;
  font-weight: 100;
  margin: auto;
  text-align: center;
  color: #9b9b9b;
}

.statsWideContent {
  display: flex;
  overflow: auto;
  height: 100%;
}