.createdOnStat { 
    font-size: 30px;
    font-family: 'Roboto' sans-serif;
    font-weight: 100;
    color: #c3c2c2;
    margin: 0 auto;
    text-align: center;
}

.fullDateString { 
    display: block;
    break-after: always;
}

.createdOnPostFix {
    font-size:1vw;
}

.createdOnYearString { 
    display: block;  
    font-size: 1.5em;
}

.createdOnVerified { 
    background-color: rgb(231, 251, 227) !important;
}

.createdOnNotVerified { 
    background-color: rgb(248, 238, 238) !important;
}

.createdOnInvalid { 
    background-color: rgb(240, 91, 91) !important;
}